:root {
    --color-s: #ff7f80;
    --color-a: #ffc07f;
    --color-b: #ffdf80;
    --color-c: #fdff7f;
    --color-d: #bfff7f;
    --color-e: #7fff7f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;

    & img {
        max-width: 250px;
        height: auto;
    }
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    padding-inline: 150px;
}

.tier {
    border-color: #444;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: auto;
    background: #1f1f1f;

    & .row {
        border-color: #444;
        border-width: 1px;
        border-style: solid;

        & .aside {
            font-weight: bold;
            background: var(--level, #09f);
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            cursor: pointer;
        }
    }
}

.button-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    padding-inline: 20px;

    & button {
        height: auto;
        margin-inline: 10px;
    }
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-inline: 150px;
    & .box-images {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-color: #444;
        border-width: 1px;
        border-style: solid;
        width: 100%;
        min-height: 300px;
        gap: 15px;
        flex-wrap: wrap;
        padding: 15px;

        & .image-preview{
            margin-top: 10px;
            width: 120px;
            height: 75px;
            object-fit: cover;
            border: #fff 2px solid;
        }
    }
}

button,
label {
    background-color: violet;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: background 0.3s;

    &:hover {
        background: var(--color-a);
    }
}

